*, *::before, *::after{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

.f-fl{
  float:left;
}
.f-fr{
  float: right;
}
#app{
  width:1200px;
  margin:40px auto;
}
.setting {
  width:600px;
}
.props-wrap {
  display: flex;
}
dl{
  flex: 1;
}
dl>dt{
  font-weight: bold;
}
dl>dd{
  cursor: pointer;
  margin-left: 10px;
}
dl>dd.active {
  color:#e77f24;
}
.container {
  display: flex; 
  position: relative;
  width: 600px;
  height: 400px;
  background: #88499c;
}
.container .item {
  text-align: center;
  color: #fff;
  margin: 5px;
  background: #e77f24;
}
.container .item input{
  width:40px;
}
.btn-add-item {
  position: absolute;
  top: -21px;
  right: 0;
  padding: 4px 8px;
  display: block;
  color: #333;
}



